.pb-52{
    padding-bottom: 52px;
}
.mb-52{
    margin-bottom: 52px;
}

.p-album-title{
    padding: 4px 16px;
}
.pb-16{
    padding-bottom: 16px;
}
.mb-16{
    margin-bottom: 16px;
}
.ml-24{
    margin-left: 24px;
}
.mx-16{
    margin: 0 16px;
}
.p-16{
    padding: 16px;
}
.mr-24{
    margin-right: 24px;
}
.m-12{
    margin: 12px;
}
.m-16{
    margin: 16px;
}
.m-y-16{
    margin-top: 16px;
    margin-bottom: 16px;
}
.m-auto{
    margin: auto;
}
.margin-r-40{
    margin-right: 40px;
}
.padding-x-8{
    padding-left: 8px;
    padding-right: 8px;
}
.margin-x-65{
    margin-left: 65px;
    margin-right: 65px;
}
.p-12{
    padding: 12px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-369{
    margin-top: 269;

}
.mt-20{
    margin-top: 20px;
}
.p-y-32{
    padding-bottom: 32px;
    padding-top: 32px;
    
}
.p-y-4{
    padding-bottom: 4px;
    padding-top: 4px;
    
}
.p-x-12{
    padding-left: 12px;
    padding-right: 12px;
}
.pb-32{
    padding-bottom: 32px;
}
