
@import url(style-align.css);
@import url(style-margin-pad.css);
@import url(style-text.css);


*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
li{
    list-style: none;
}
ul{
    margin: 0;
}
h1{
    margin: 0;
}
.top-0{
    top: 0
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.rounded{
    border-radius: 16px;
}

.bg-gray-800{
    background-color: #A4AAA0;
}
.bg-white-trans{
    background-color: rgba(255,255,255,0.7);
    
}

.primary-color{
    color: #016364;
}

.underline{
    border-bottom: 4px solid  transparent;
    transition: all s0.3s;
}
.underline:hover{
    border-bottom: 4px solid  #016364;
}

.bg-mt1{
    background-image: url(./img/mt1.png);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 390px 0 0 0;
}
.bg-mt2{
    background-image: url(./img/mt2.png);
    background-size: 558px auto;
    background-repeat: no-repeat;
    width: 558px;
    height: 450px;
    position: relative; 
    left: 0;

}
.rect-mt1{
    width: 8px;
    height: 48px;
    background-color: #f8f9fa;
}
.header-underline{
    padding-bottom: 8px 0 4px 0;
    border-bottom: 4px solid transparent
    /* transition: all 0.5s; */
}
.header-underline :hover{
    padding-bottom: 8px 0 4px 0;
    border-bottom: 4px solid #343140;
}
.position-sticky{
    position: sticky;
}

.img-block{
    display: block;
}

.cursor-pointer{
    cursor: pointer;
}
.nowarp{
    white-space: nowrap;
}
.w-100p{
    width: 100%;
}


.w-quat{
    width: 25%;
}
.card-wrapper{
    border: 1px solid #eee;
    transition: all 0.7s;
}
.card-wrapper:hover{
    border: 1px solid #eee;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform:  scale(1.05);
}
.ht-76{
    height: 76px;
}

.txt-rect{
    position: relative; 
    width: auto;
    left: 348px;
    top: 56px;
    background: rgba(255, 255, 255, 0.7);
}

.card-style{
    margin-left: 16px;
    margin-right: 16px;
    width: 25%;
    border: 1px solid #eee#000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
}